.form {
  padding: 20px;
}

.textBox {
  width: 100%;
  padding: 10px;
}

.send {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  padding: 10px;
  background: none;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s;
}

.send:hover {
  background-color: black;
  color: white;
}
