.messagesList {
  height: 68vh;
  list-style: none;
  overflow-y: scroll;
  border-bottom: 1px solid black;
}

.messageBox {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.user,
.message {
  margin: 10px;
  font-size: 12px;
}

.user {
  align-self: center;
  grid-column: 1 / 3;
  margin-right: 0px;
  font-weight: bold;
}

.message {
  grid-column: 3 / 9; 
}

.messageBox:nth-child(even) {
  background: rgba(247, 245, 245, 0.637);
}
