.listaMensagens {
  list-style: none;
  height: 80vh;
  overflow: scroll;
}

.mensagemCompleta {
  display: flex;
}

.usuario,
.mensagem {
  margin: 10px;
  font-size: 12px;
}

.usuario {
  margin-right: 0px;
  font-weight: bold;
}

.mensagem:nth-child(odd) {
  background: rgb(248, 248, 248);
}
